.navigation-bar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #282c34;
  color: white;
  flex-shrink: 0;
  overflow-y: auto;
  padding-top: 15px;
  width: 300px;
}

.navigation-bar-collapsed, .collapsed-icons{
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #282c34;
  padding: auto;
}

.navigation-bar-collapsed .collapsed-icons a {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.collapsed-icons a:hover {
  color: green;
}


.sidepanel{
  margin-left: auto;
  margin-right: 15px;
  margin-top: 10px;
}

.panel2{
  color: white;
}

.face{
  padding-top: 10px;
}

.shattered {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden; 
  overflow-y: hidden;
  background-color: #0ea2c9;
}

.sidebar{
  background-color: #282c34;
}

.title {
  position: absolute;
  bottom: 10px; 
  left: 10px;  
  color: black;
  font-size: 40px;
  z-index: 2;
  margin: 0;
  text-align: left;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  height: 75px;
}

.icon-spacing {
  margin-right: 8px; 
}

.icon_spacing_drop{
  margin-left: 10px;
}

.icon_spacing_drop:hover{
  color: green;
}

.icon-spacing2 {
  margin-left: 10px; 
}

.toolbar_icons {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.icon-container {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.icon-description {
  display: none;
  position: absolute;
  left: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%);
  background-color: #000000cc; 
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 100;
  font-size: 14px;
}

.icon-container:hover .icon-description {
  display: block;
}

.icon-container:hover {
  transform: scale(1.2); 
}

.logo {
  text-align: center;
  display:flex;
  width: 100%;
}

.dropdown-container {
  display:flex;
  flex-direction: column;
}

.dropbtn {
  color: white;
  font-size: 17px;
  border: none;
  width: 100%;
  text-decoration: none;
  text-align: left;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 15px;
  z-index: 4;
  gap: 10px;
  margin-bottom: 10px;
}

.dropdown:hover .dropbtn {
  background-color: #1d1f23;
}

.dropdown-content {
  margin-top: 10px;
  display: block;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.user-dropdown {
  position: relative;
  display: inline-block;
  z-index: 1000;
}

.user-dropdown-content {
  margin-top: 10px;
  position: absolute;
  background-color: #f1f1f1;
  display: none;
  min-width: 130px;
  z-index: 3;
  font-weight: bold;
}

.user-dropdown-content a {
  color: black;
  padding: 12px 16px;
  z-index: 3;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  z-index: 3;
}

.dropdown-content a:hover {
  background-color: green;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #ffffff;
  text-decoration: none;
}

.user-dropdown-content a:hover {
  background-color: #ddd;
}

.user-dropdown:hover .user-dropdown-content {
  display: block;
}

.user-dropdown:hover .dropbtn {
  color: #ffffff;
  text-decoration: none;
}

.indvidual-list-table {
  margin-top: 10px;
  width: 98%;
  margin-bottom: 20px;
}

.create-entry-title {
  margin-left: auto;
  margin-right: auto;
}

.entry-form {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(180, 178, 178);
  padding: 30px 30px 30px 30px;
}

.accordion-entry-form {
  padding: 30px 30px 30px 30px;
}

.parentId-drop-down {
  margin-bottom: 20px;
}

.parentId-input-field {
  margin-bottom: 20px;
}

.parentId-drop-down-yaml {
  margin-bottom: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(180, 178, 178);
  padding: 10px 10px 10px 10px;
}

.clustertype-drop-down {
  margin-bottom: 20px;
}

.parentId-manual-input-field {
  margin-bottom: 20px;
  margin-left: 40px;
}

.clustertype-manual-input-field {
  margin-bottom: 20px;
  margin-left: 40px;
}

.spiffeId-input-field {
  margin-bottom: 20px;
}

.cluster-domain-name-input-field {
  margin-bottom: 20px;
}

.cluster-managed-by-input-field {
  margin-bottom: 20px;
}

.clustername-input-field {
  margin-bottom: 20px;
}

.parentId-helper {
  font-size: 12px;
  color: rgb(82, 79, 79);
  margin-top: 2px;
}

.cluster-helper {
  font-size: 12px;
  color: rgb(82, 79, 79);
  margin-top: 2px;
}

.selectors-multiselect {
  margin-bottom: 20px;
}

.agents-multiselect {
  margin-bottom: 20px;
}

.selectors-textArea {
  margin-bottom: 20px;
}

.ttl-input {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 160px
}

.expiresAt-input {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 600px;
}

.expiry-drop-down {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  width: 200px;
}

.expiryEntryFields {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.expiryOption-field {
  display: inline-block;
  vertical-align: top;
  width: 500px;
}

.expiryOption-entry {
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.federates-with-input-field {
  margin-bottom: 20px;
  width: 55%;
}

.dnsnames-input-field {
  margin-bottom: 20px;
  width: 55%;
}

.servers-drp-dwn {
  margin-top: 5px;
}

.success-message {
  font-weight: bold;
  color: green;
}

.failed-message {
  font-weight: bold;
  color: red;
}

.no-data {
  margin-top: 120px;
  margin-left: 200px;
}

.toast-entry-creation-notification.cds--toast-notification {
  width: 820px; 
  margin-bottom: 10px;
}

.toast-entry-creation-notification {
  width: 850px;
}

.toast-messege {
  width: 700px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(180, 178, 178);
  padding: 30px 30px 30px 30px;
}

.toast-messege-color {
  color: white;
}

.create-entry-button {
  border-radius: 25px;
}

.custom-entry-form-title {
  display: inline-block;
}

.edit-entry-container {
  display: flex;
  flex-direction: row;
  width: 1100px
}

.entries-list-container {
  height: 500px;
  float: left;
  display: block;
  width: 50%;
  overflow-y: scroll;
  background-color: rgb(215, 215, 215);
  padding: 10px 30px 30px 30px;
}

.entries-edit-form {
  height: 500px;
  display: block;
  width: 50%;
  overflow-y: scroll;
  margin-left: 20px;
  margin-top: 10px;
}

.federates-with-input-field-yaml {
  margin-bottom: 20px;
}

.dnsnames-input-field-yaml {
  margin-bottom: 20px;
}

.modal_Entry_list_title {
  text-transform: capitalize;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 15px;
}

.additional_info_entries_list {
  font-size: 13px;
  color: rgb(101, 99, 99);
}

.yaml_view_modal_json {
  padding: 5px 30px 30px 30px;
  font-weight: bold;
  background-color: rgb(213, 213, 213);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(180, 178, 178);
}

.view_entries_yaml_button {
  display: inline-block;
}

.selected-entry {
  background-color: rgb(175, 175, 184);
}

.header-toolbar {
  position: relative;
  display: inline;
  float: right;
  display:flex;
  margin-left: -10px;
}

.user-name {
  position: relative;
  display: inline-block;
  color: aliceblue;
}

.not-allowed {
  color: rgb(6, 165, 165);
  position: absolute;
  left: 40%;
}

.admin-toolbar-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: white;
  border: 0.1px solid white;
  padding: 4px;
  margin-right: 10px;
  margin-top: 7px;
  margin-left: 11px;
}

.manager-toolbar-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: white;
  border: 0.1px solid white;
  padding: 4px;
  margin-right: 10px;
  margin-top: 7px;
  margin-left: 11px;
}

.health-check {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
  float: right;
  margin-right: 40px;
  padding-top: 3px;
  margin-left: 15px;
  margin-top: 6px;
  margin-bottom: 10px;
}

.refresh_status {
  display: flex;
  gap: 10px; 
  align-items: center;
  margin-top: 20px;
}

.spire-health-check-refresh-dropdown,
.health-status-check-container {
  flex: 1;
  height: 45px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 233, 233); 
  border: 1px solid #000000;
  padding: 5px;
}

.health-status-check-container {
  max-width: 140px; 
}

#spire-refresh-rate-drop-down{
  margin-bottom: 23px;
}

.health-status-check-title {
  margin-right: 10px;
  color: black;
}

.health-status-check-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spire-health-refresh-tooltip {
  margin-top: 10px;
  display: flex;
  white-space: nowrap;
  margin-right: 10px;
}

.spire-health-helper {
  color: rgb(252, 252, 252);
}

.edit-cluster-button {
  display: inline-block;
}
.delete-cluster-button {
  width: 180px;
  float: right;
}

.spire-server-unique-identifier {
  margin-top: 20px;
  margin-left: 10px;
  position: relative;
  display: inline;
}

.tls-mtls-enabled input {
  margin-right: 10px;
  margin-bottom: 10px;
}

.server-form {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 1000px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(180, 178, 178);
  padding: 30px 30px 30px 30px;
}

.server-select-dropdown {
  margin-top: 20px;
}