.navigation-bar {
  min-width: 900px;
}
.dropbtn {
    background-color: #373a37;
    color: rgb(177, 176, 176);
    padding: 14px;
    font-size: 14px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    margin-top: 10px;
    position: absolute;
    background-color: #f1f1f1;
    display: none;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {color: #ffffff; text-decoration: none;}

  .indvidual-list-table {
    margin-top: 10px;
    width: 98%;
    margin-bottom: 20px;
  }

  .create-entry-title {
    margin-left: auto;
    margin-right: auto;
  }
  
  .entry-form {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-width:1px;
    border-style:solid;
    border-color: rgb(180, 178, 178);
    padding: 30px 30px 30px 30px;
  }
  .parentId-drop-down {
    margin-bottom: 20px;
  }
  
  .parentId-manual-input-field {
    margin-bottom: 20px;
    margin-left: 40px;
  }
  .spiffeId-input-field {
    margin-bottom: 20px;
  }

  .parentId-helper {
    font-size: 12px;
    color:rgb(82, 79, 79);
    margin-top: 2px;
  }

  .selectors-multiselect {
    margin-bottom: 20px;
  }

  .selectors-textArea {
    margin-bottom: 20px;
  }
  .admin-flag-checkbox {
  }

  .ttl-input {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 160px
  }

  .expiresAt-input {
    display: inline-block;
    margin-bottom: 20px;
    width: 160px;
  }
  
  .federates-with-input-field {
    margin-bottom: 20px;
    width: 55%;
  }
  .dnsnames-input-field {
    margin-bottom: 20px;
    width: 55%;
  }

  .servers-drp-dwn {
    margin-top: 5px;
  }