.navigation-bar {
  min-width: 900px;
}
.dropbtn {
    background-color: #373a37;
    color: rgb(177, 176, 176);
    padding: 14px;
    font-size: 14px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    margin-top: 10px;
    position: absolute;
    background-color: #f1f1f1;
    display: none;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {color: #ffffff; text-decoration: none;}