.nav-comp {
  min-width: 700px;
}
.rest-body {
  margin-left: 20px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.endbanneroutput {
  margin-left: -30px;
  margin-top: 1%;
  width: 110%;
  height: 30px;
  position: fixed;
  bottom: 0;
  z-index: 2;
}



  .carbon-toast .Toastify__toast {
    padding: 0 !important;
    /* background: $inverse-02 !important; */
  }

  .carbon-toast .Toastify__toast > svg {
    margin-top: 1.375rem;
    margin-right: 1rem;
    /* fill: $inverse-01; */
  }

  .carbon-toast .Toastify__toast-body {
    margin: 0 !important;
    padding: 0 !important;
  }

  .carbon-toast .Toastify__toast-container {
    width: auto !important;
    height: auto !important;
  }

  .carbon-toast .bx--toast-notification{
    margin: 0;
  }